<div markdown="span" class="alert alert-warning" role="alert">
	<i class="fa fa-warning"></i>
	<b>Version:</b> This is the <b>current 0.x (STU3)</b> of GP Connect Messaging for building the <b>Send Document</b> update capability only. For other GP Connect capabilities please see the current 1.x (STU3) version available from the <a href='https://developer.nhs.uk/gp-connect-specification-versions/'>versions page</a>.
    <br/>
	<br/>If you're looking for the GP connect FHIR&reg; API, please visit <a href="https://developer.nhs.uk/gp-connect-specification-versions/">GP Connect Specification Versions</a>
</div>